## Scala
.bsp/
.metals/
.scala-build/
.bloop/
*.scala.semanticdb


## Gradle
.gradle/*
!gradle/wrapper/
build/

## Maven
target/


## VS code
.vscode/

## IJ Idea
.idea/

## macOS
.DS_Store

## tmp files
.tmp/

## Java
*.class
